$offBlack: #14142b;
$ash: #263338;
$label: #6e7191;
$placeholder: #a0a3bd;
$line: #d9dbe9;
$input: #eff0f6;
$background: #f7f7fc;
$offWhite: #fcfcfc;

$primary: #5078fb;

$sky100: #e5ebfe;
$sky200: #9bb2fd;
$sky800: #032596;

$chili600: #e50000;

$tiger800: #994600;

$gold100: #fbf3e2;
